## CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-*


## Mac
.DS_Store

## CLion
.idea/

## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Latex
doc/proposal/out

test/outputs/
examples/output/
.Rproj.user

test/resources/JSON/nodes.json

*.pyc

R/.Rhistory

python/.python-version

python/simulations/.vscode/settings.json

python/simulations/dist/

doc/proposal/.auctex-auto/

*.aux

*.gz

*.log

rust/transmission_sim/target/debug/
googletest-build/
googletest-download/


googletest-src/

python/simtools/.coverage

build/

.cache/
